[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_full_version = ">=3.8.0"

[pipenv]
allow_prereleases = true

[packages]
aiofiles = "*"
aiomonitor = "*"
eliot = "*"
uvloop = "*"

[dev-packages]
sphinx = ">=1.8.0b1,<2.2.2"
logging-tree = "*"
eliot-tree = "*"
mypy = "*"
autopep8 = "*"
aiounittest = "*"
pylint = "*"
black = "*"
isort = "*"
flake8 = "*"
