[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_full_version = ">=3.8.0"

[pipenv]
allow_prereleases = true

[packages]
aiomonitor = "*"
eliot = "*"

[dev-packages]
logging-tree = "*"
eliot-tree = "*"
mypy = "*"
autopep8 = "*"
aiounittest = "*"
pylint = "*"
black = "*"
isort = "*"
flake8 = "*"
